In [278]:
#Import our libraries we are going to use for our data analysis.
#import tensorflow as tf
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import datetime
from category_encoders import TargetEncoder


# Plotly visualizations
from plotly import tools
import chart_studio.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)


# For oversampling Library (Dealing with Imbalanced Datasets)
from imblearn.over_sampling import SMOTE
from collections import Counter

# Other Libraries
import time


#% matplotlib inline


import pandas as pd
import seaborn as sn
#import plotly.plotly as py
#import matplotlib.pyplot as plt
import plotly.graph_objs as go

import os


# Pandas options
pd.set_option('display.max_colwidth', 1000, 'display.max_rows', None, 'display.max_columns', None)

# Plotting options
#%matplotlib inline
#mpl.style.use('ggplot')
sns.set(style='whitegrid')
import csv

In [279]:
final_data = pd.read_csv('final_data.csv',low_memory = False)

In [280]:
final_data.shape

(159287, 41)

In [281]:
final_data.sample(5)

,Unnamed: 0,issue_d,earliest_cr_line,last_pymnt_d,int_rate,revol_util,term,grade,sub_grade,emp_length,emp_title,home_ownership,verification_status,loan_status,purpose,addr_state,application_type,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,log_annual_inc,emp_length_int,time_history,ret_INT
128267,327770,2016-07-01,1998-11-01,2017-08-01,14.49,23.4,60,C,C4,3 years,Credit Analyst II,RENT,Verified,Fully Paid,debt_consolidation,TX,Individual,w,31000.0,31000.0,729.22,72000.0,59.0,30.97,30132.0,0.0,27.0,0.0,749.0,745.0,35758.014335,0.0,0.0,0.0,31000.0,0.0,13.010534,4.857339,3.0,6452 days 00:00:00.000000000,0.276340
52001,121469,2016-01-01,2004-09-01,2017-09-01,8.49,55.4,36,B,B1,1 year,Office Manager,MORTGAGE,Not Verified,Fully Paid,debt_consolidation,LA,Individual,w,12600.0,12600.0,397.70,60000.0,20.0,8.68,9134.0,3.0,10.0,0.0,664.0,660.0,13948.278265,0.0,1.0,0.0,12600.0,0.0,20.008624,4.778158,1.0,4139 days 00:00:00.000000000,0.144980
98776,244400,2016-09-01,2006-04-01,2017-01-01,14.49,86.5,36,C,C4,3 years,Operations Director,MORTGAGE,Verified,Fully Paid,home_improvement,TX,Individual,f,6400.0,6400.0,220.27,250000.0,25.0,22.92,55439.0,0.0,12.0,0.0,669.0,665.0,6723.500468,0.0,1.0,0.0,6400.0,0.0,4.008296,5.397942,3.0,3806 days 00:00:00.000000000,0.267483
42708,101012,2016-01-01,2008-10-01,2018-02-01,14.85,40.2,36,C,C5,4 years,Technology Systems Administrator,MORTGAGE,Source Verified,Fully Paid,debt_consolidation,CA,Individual,w,4000.0,4000.0,138.37,66000.0,13.0,6.96,3175.0,0.0,6.0,0.0,684.0,680.0,4839.399822,0.0,2.0,0.0,4000.0,0.0,25.035422,4.819551,4.0,2648 days 00:00:00.000000000,0.195962
23701,57059,2016-03-01,1992-08-01,2018-04-01,18.99,63.8,36,D,D4,10+ years,Chief of Code Development,MORTGAGE,Source Verified,Fully Paid,debt_consolidation,CA,Individual,f,24000.0,24000.0,879.63,109000.0,21.0,8.34,27958.0,0.0,8.0,0.0,669.0,665.0,30798.561460,0.0,2.0,0.0,23650.0,0.0,25.002567,5.037430,10.0,8613 days 00:00:00.000000000,0.270276

In [282]:
n_rows = len(final_data)
final_data = final_data[final_data.application_type == 'Individual']
print("Removed " + str(n_rows - len(final_data)) + " rows")

Removed 2551 rows

In [283]:
final_data.shape

(156736, 41)

In [284]:
final_data.sample(2)

,Unnamed: 0,issue_d,earliest_cr_line,last_pymnt_d,int_rate,revol_util,term,grade,sub_grade,emp_length,emp_title,home_ownership,verification_status,loan_status,purpose,addr_state,application_type,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,log_annual_inc,emp_length_int,time_history,ret_INT
90603,221996,2016-04-01,2009-01-01,2018-04-01,14.46,27.7,36,C,C4,2 years,Credit Analyst,MORTGAGE,Verified,Fully Paid,debt_consolidation,NJ,Individual,w,18500.0,18500.0,636.43,38500.0,40.0,21.39,18814.0,0.0,26.0,0.0,709.0,705.0,22250.293958,0.0,0.0,0.0,18500.0,0.0,23.984065,4.585472,2.0,2647 days 00:00:00.000000000,0.200427
136960,359044,2016-12-01,2000-01-01,2017-05-01,17.99,56.8,60,D,D2,3 years,Assistant Account Manager,RENT,Source Verified,Fully Paid,debt_consolidation,TX,Individual,w,18000.0,18000.0,456.99,57950.0,16.0,15.45,10004.0,0.0,10.0,0.0,694.0,690.0,19379.399440,0.0,0.0,0.0,18000.0,0.0,4.961087,4.763061,3.0,6179 days 00:00:00.000000000,0.287280

In [285]:
final_data.drop(labels="Unnamed: 0", axis=1, inplace=True)
final_data.drop(labels="emp_length", axis=1, inplace=True)
final_data.drop(labels="issue_d", axis=1, inplace=True)
final_data.drop(labels="last_pymnt_d", axis=1, inplace=True)
final_data.drop(labels="log_annual_inc", axis=1, inplace=True)
final_data.drop(labels="application_type", axis=1, inplace=True)
final_data.drop(labels="earliest_cr_line", axis=1, inplace=True)

In [286]:
final_data.shape

(156736, 34)

In [287]:
final_data.sample(2)

,int_rate,revol_util,term,grade,sub_grade,emp_title,home_ownership,verification_status,loan_status,purpose,addr_state,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,time_history,ret_INT
146319,10.49,46.1,36,B,B2,Office Specialist,OWN,Source Verified,Fully Paid,debt_consolidation,AZ,w,4500.0,4500.0,146.24,24125.0,34.0,18.06,16974.0,1.0,7.0,0.0,664.0,660.0,4963.238737,0.0,0.0,0.0,4500.0,0.0,12.977679,2.0,9681 days 00:00:00.000000000,0.219828
48280,7.49,25.8,36,A,A4,Vice President,OWN,Not Verified,Fully Paid,debt_consolidation,NY,f,15000.0,15000.0,466.53,104000.0,22.0,36.17,101662.0,2.0,15.0,0.0,739.0,735.0,16106.946003,0.0,0.0,0.0,14975.0,0.0,14.981827,3.0,10441 days 00:00:00.000000000,0.164333

In [288]:
def entropy(target_col):
    """
    Calculate the entropy of a dataset.
    The only parameter of this function is the target_col parameter which specifies the target column
    """
    elements,counts = np.unique(target_col,return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy

In [289]:
def InfoGain(data,split_attribute_name,target_name="loan_status"):
    """
    Calculate the information gain of a dataset. This function takes three parameters:
    1. data = The dataset for whose feature the IG should be calculated
    2. split_attribute_name = the name of the feature for which the information gain should be calculated
    3. target_name = the name of the target feature. The default for this example is "class"
    """    
    #Calculate the entropy of the total dataset
    total_entropy = entropy(data[target_name])
    
    ##Calculate the entropy of the dataset
    
    #Calculate the values and the corresponding counts for the split attribute 
    vals,counts= np.unique(data[split_attribute_name],return_counts=True)
    
    #Calculate the weighted entropy
    Weighted_Entropy = np.sum([(counts[i]/np.sum(counts))*entropy(data.where(data[split_attribute_name]==vals[i]).dropna()[target_name]) for i in range(len(vals))])
    
    #Calculate the information gain
    Information_Gain = total_entropy - Weighted_Entropy
    return Information_Gain

In [290]:
#item_values = [InfoGain(final_data,XXX,'loan_status') for feature in final_data] 
#Return the information gain values for the features in the dataset

In [291]:
#len(item_values)

In [292]:
#x = InfoGain(final_data,'emp_title','loan_status')
#x

In [293]:
final_data['loan_status'].replace('Charged Off', 1, inplace=True)
final_data['loan_status'].replace('Fully Paid', 0, inplace=True)

In [294]:
final_data.sample(5)

,int_rate,revol_util,term,grade,sub_grade,emp_title,home_ownership,verification_status,loan_status,purpose,addr_state,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,time_history,ret_INT
122009,10.49,19.0,36,B,B3,Support Technician,RENT,Source Verified,0,credit_card,CA,w,6000.0,6000.0,194.99,50000.0,23.0,33.13,6114.0,0.0,19.0,0.0,704.0,700.0,6325.149708,0.0,0.0,0.0,6000.0,0.0,6.045299,0.5,4687 days 00:00:00.000000000,0.246541
73583,8.39,99.0,36,B,B1,tire builder,MORTGAGE,Not Verified,0,debt_consolidation,OK,w,20000.0,20000.0,630.34,95000.0,17.0,27.56,39290.0,1.0,11.0,0.0,669.0,665.0,20884.760228,0.0,2.0,0.0,19750.0,0.0,6.045299,10.0,7457 days 00:00:00.000000000,0.234562
13350,9.16,42.9,36,B,B2,prop. mgmt.,OWN,Not Verified,0,credit_card,CA,f,10000.0,10000.0,318.75,87000.0,37.0,12.00,15029.0,0.0,17.0,1.0,669.0,665.0,10454.246156,0.0,0.0,1.0,9750.0,0.0,11.992033,10.0,4443 days 00:00:00.000000000,0.166125
71387,12.99,28.6,36,C,C2,Director,MORTGAGE,Source Verified,0,home_improvement,GA,w,3025.0,3025.0,101.91,67583.0,37.0,20.67,6743.0,12.0,15.0,0.0,669.0,665.0,3333.988675,0.0,2.0,0.0,3025.0,0.0,11.006386,0.5,5053 days 00:00:00.000000000,0.242417
90469,8.39,27.7,36,B,B1,Program Analyst,RENT,Source Verified,0,debt_consolidation,VA,w,15000.0,15000.0,472.75,123500.0,23.0,11.12,6366.0,2.0,14.0,2.0,674.0,670.0,16133.544632,0.0,0.0,0.0,15000.0,0.0,11.992033,10.0,5722 days 00:00:00.000000000,0.200391

In [295]:
encoder = TargetEncoder()
final_data['addr_state_encoder'] = encoder.fit_transform(final_data['addr_state'], final_data['loan_status'])

In [296]:
final_data.drop(labels="addr_state", axis=1, inplace=True)
final_data.drop(labels="sub_grade", axis=1, inplace=True)

In [297]:
final_data.sample(2)

,int_rate,revol_util,term,grade,emp_title,home_ownership,verification_status,loan_status,purpose,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,time_history,ret_INT,addr_state_encoder
16786,7.39,28.2,36,A,supervisor,OWN,Not Verified,0,car,w,6500.0,6500.0,201.87,70000.0,33.0,14.48,7762.0,1.0,12.0,0.0,704.0,700.0,7144.828692,0.0,5.0,0.0,6500.0,0.0,21.027126,10.0,6149 days 00:00:00.000000000,0.125907,0.232599
40960,19.99,25.7,60,E,sr claims rep,MORTGAGE,Source Verified,0,debt_consolidation,w,16500.0,16500.0,437.06,108600.0,32.0,4.99,5043.0,0.0,9.0,1.0,679.0,675.0,21566.868490,0.0,3.0,1.0,16500.0,0.0,19.975770,10.0,9861 days 00:00:00.000000000,0.356351,0.259179

In [298]:
final_data = pd.concat([final_data,pd.get_dummies(final_data['purpose'], prefix='purpose')],axis=1)

In [299]:
final_data.drop(labels="purpose", axis=1, inplace=True)

In [300]:
final_data = pd.concat([final_data,pd.get_dummies(final_data['home_ownership'], prefix='home_ownership')],axis=1)
final_data.drop(labels="home_ownership", axis=1, inplace=True)

In [301]:
final_data = pd.concat([final_data,pd.get_dummies(final_data['verification_status'], prefix='verification_status')],axis=1)
final_data.drop(labels="verification_status", axis=1, inplace=True)

In [302]:
final_data['initial_list_status'].replace('w', 0, inplace=True)
final_data['initial_list_status'].replace('f', 1, inplace=True)

In [303]:
final_data.sample(3)

,int_rate,revol_util,term,grade,emp_title,loan_status,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,time_history,ret_INT,addr_state_encoder,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
37022,11.99,19.2,36,C,RN Supervisor,0,1,14400.0,14400.0,478.22,90000.0,58.0,19.76,48311.0,1.0,31.0,0.0,689.0,685.0,16440.849687,0.0,3.0,0.0,14400.0,0.0,17.971622,4.0,6209 days 00:00:00.000000000,0.204564,0.287657,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
75639,22.35,56.6,36,E,Account Manager,0,0,10450.0,10450.0,400.99,32000.0,19.0,29.07,27429.0,1.0,13.0,0.0,699.0,695.0,10752.240000,0.0,3.0,0.0,10450.0,1.0,1.018501,0.5,3926 days 00:00:00.000000000,0.278568,0.232599,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
20690,10.75,5.2,36,B,RN,0,0,4800.0,4800.0,156.58,66000.0,34.0,13.73,816.0,0.0,11.0,0.0,799.0,795.0,5030.860000,0.0,3.0,0.0,4800.0,0.0,5.026797,8.0,5234 days 00:00:00.000000000,0.251755,0.188483,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0

In [304]:
final_data.shape

(156736, 49)

In [305]:
final_data['grade'].describe()

count     156736
unique         7
top            C
freq       47278
Name: grade, dtype: object

In [306]:
final_data = pd.concat([final_data,final_data["time_history"].str.split(" ", n = 1, expand = True)[0]],axis = 1)

final_data.sample(4)

,int_rate,revol_util,term,grade,emp_title,loan_status,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,time_history,ret_INT,addr_state_encoder,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,0
27722,21.18,57.3,60,E,Senior BSA analyst,1,0,15000.0,15000.0,407.33,60000.0,14.0,14.80,4696.0,1.0,11.0,0.0,699.0,695.0,6510.390000,1610.89,0.0,0.0,15000.0,0.0,12.944824,5.0,3593 days 00:00:00.000000000,-0.547076,0.273232,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,3593
61398,10.99,29.0,36,B,Finance Manager,0,0,9000.0,9000.0,294.61,127000.0,57.0,30.97,20940.0,0.0,21.0,2.0,674.0,670.0,9324.380000,0.00,2.0,0.0,9000.0,0.0,4.008296,10.0,5844 days 00:00:00.000000000,0.249676,0.237341,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,5844
151887,6.99,33.8,36,A,Dosimetrist,0,1,10000.0,10000.0,308.73,90000.0,34.0,16.74,13031.0,2.0,22.0,0.0,709.0,705.0,10513.812066,0.00,3.0,0.0,10000.0,0.0,9.987885,10.0,5813 days 00:00:00.000000000,0.195972,0.243402,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,5813
107979,16.99,12.9,60,D,Lending Manager,0,0,15000.0,15000.0,372.71,75000.0,17.0,14.29,1851.0,0.0,10.0,0.0,714.0,710.0,16507.800713,0.00,3.0,0.0,15000.0,0.0,6.965235,10.0,2588 days 00:00:00.000000000,0.290545,0.232599,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,2588

In [307]:
final_data.drop(labels="time_history", axis=1, inplace=True)

In [308]:
final_data = final_data.rename(columns={0:'time_history'})

In [309]:
final_data.sample(4)

,int_rate,revol_util,term,grade,emp_title,loan_status,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,ret_INT,addr_state_encoder,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,time_history
55200,13.99,37.1,36,C,Clinical Assistant Professor,0,0,11000.0,11000.0,375.91,150000.0,19.0,16.06,12054.0,1.0,12.0,0.0,689.0,685.0,12573.470032,0.0,0.0,0.0,11000.0,1.0,13.963326,0.5,0.253037,0.287657,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,3075
33964,5.32,35.6,36,A,Metal joining specialists,0,0,9600.0,9600.0,289.11,85000.0,30.0,24.35,27044.0,0.0,24.0,0.0,704.0,700.0,10172.841261,0.0,1.0,0.0,9600.0,0.0,16.953120,10.0,0.127271,0.280422,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,3928
55038,22.45,33.4,60,F,Manager,0,1,16200.0,16200.0,451.59,45000.0,11.0,28.61,9296.0,0.0,5.0,0.0,749.0,745.0,17738.280012,0.0,0.0,0.0,16200.0,0.0,4.993942,7.0,0.309139,0.287657,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,2466
127490,12.79,6.4,60,C,Manager,0,1,14400.0,14400.0,326.10,63000.0,13.0,16.27,1848.0,0.0,8.0,0.0,794.0,790.0,16061.638435,0.0,1.0,0.0,14400.0,0.0,11.006386,6.0,0.257616,0.259179,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,3379

In [310]:
final_data.drop(labels="emp_title", axis=1, inplace=True)

In [311]:
final_data.sample(4)

,int_rate,revol_util,term,grade,loan_status,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,ret_INT,addr_state_encoder,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,time_history
28112,14.46,45.0,36,C,1,0,9500.0,9500.0,326.82,83000.0,27.0,16.14,12466.0,0.0,12.0,2.0,664.0,660.0,5135.320000,901.92,2.0,1.0,9500.0,0.0,12.944824,8.0,-0.425471,0.287657,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,11294
153749,11.44,45.0,36,B,0,0,15000.0,15000.0,494.22,60000.0,27.0,31.16,11621.0,0.0,12.0,1.0,679.0,675.0,16722.398075,0.00,0.0,0.0,15000.0,0.0,13.996181,9.0,0.221172,0.259179,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,11019
39944,24.99,92.0,60,F,1,0,14000.0,14000.0,410.84,60000.0,25.0,32.74,12813.0,0.0,8.0,0.0,684.0,680.0,2827.290000,0.00,0.0,0.0,14000.0,0.0,6.998090,10.0,-0.781385,0.264453,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,5085
128148,6.99,3.6,36,A,0,1,24000.0,24000.0,740.95,85000.0,15.0,6.30,2284.0,0.0,9.0,0.0,779.0,775.0,25929.715116,0.00,0.0,0.0,24000.0,0.0,19.975770,6.0,0.117279,0.259179,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,2526

In [312]:
#after baseline
#final_data.drop(labels="int_rate", axis=1, inplace=True)
#final_data.drop(labels="grade", axis=1, inplace=True)

In [313]:
grade = ['A', 'B', 'C', 'D', 'E', 'F','G']

# Create a new column and convert grade to integers.

lst = [final_data]
final_data['grade1'] = np.nan

for col in lst:
    col.loc[col['grade'] == 'A', "grade1"] = 1
    col.loc[col['grade'] == 'B', "grade1"] = 2
    col.loc[col['grade'] == 'C', "grade1"] = 3
    col.loc[col['grade'] == 'D', "grade1"] = 4
    col.loc[col['grade'] == 'E', "grade1"] = 5
    col.loc[col['grade'] == 'F', "grade1"] = 6
    col.loc[col['grade'] == 'G', "grade1"] = 7

In [314]:
final_data.sample(4)

,int_rate,revol_util,term,grade,loan_status,initial_list_status,loan_amnt,funded_amnt,installment,annual_inc,total_acc,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries,mort_acc,pub_rec_bankruptcies,funded_amnt_inv,acc_now_delinq,loan_length,emp_length_int,ret_INT,addr_state_encoder,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,time_history,grade1
62298,12.99,58.3,36,C,1,1,7000.0,7000.0,235.83,39000.0,12.0,11.26,4488.0,0.0,6.0,0.0,714.0,710.0,2866.950000,749.53,1.0,0.0,7000.0,0.0,8.969383,10.0,-0.552661,0.266032,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,2953,3.0
116546,14.49,76.3,36,C,0,0,5600.0,5600.0,192.74,25000.0,7.0,29.72,6485.0,0.0,6.0,0.0,679.0,675.0,6342.739767,0.00,0.0,0.0,5600.0,0.0,13.010534,2.0,0.252865,0.287657,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,3073,3.0
72026,8.39,44.7,36,B,0,0,8000.0,8000.0,252.14,74000.0,54.0,18.15,6795.0,0.0,20.0,1.0,664.0,660.0,8138.680000,0.00,0.0,1.0,8000.0,0.0,3.022649,7.0,0.238816,0.258213,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,4961,2.0
120504,16.99,20.5,36,D,0,0,3400.0,3400.0,121.21,31000.0,10.0,19.05,1987.0,0.0,8.0,0.0,689.0,685.0,3756.771619,0.00,0.0,0.0,3400.0,0.0,7.983737,1.0,0.282909,0.287657,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,2952,4.0

In [315]:
from sklearn.linear_model import LogisticRegression

In [316]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=final_data[['int_rate']]  # Features
y=final_data['loan_status']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [317]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [318]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7512813423789371

In [319]:
from sklearn.metrics import precision_score, recall_score

In [320]:
 print ('Recall score: %.3f' % recall_score(y_test, y_pred))

Recall score: 0.081

In [321]:
 print ('Precision score: %.3f' % precision_score(y_test, y_pred))

Precision score: 0.544